[run]
# Source files for which coverage should be measured.
source = .

# Exclude specific files from coverage measurement.
omit =
    src/models/boston_house_price_prediction/run.py
    src/models/boston_house_price_prediction/train_model.py

[report]
# Files to omit from the report.
omit =
    src/models/boston_house_price_prediction/run.py
    src/models/boston_house_price_prediction/train_model.py

# Do not include files that are not measured in the report.
show_missing = True

# Report coverage only for files in the source directory.
include =
    project_directory/*

[html]
# Directory to save HTML coverage reports.
directory = coverage_html_report

[xml]
# Output XML coverage report.
output = coverage.xml

[coverage:run]
branch = True
