name: CI/CD Pipeline

on:
  push:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'

      - name: Cache venv directory
        id: cache-venv
        uses: actions/cache@v2
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            venv-${{ runner.os }}-

      - name: Create and activate virtual environment
        if: steps.cache-venv.outputs.cache-hit != 'true'
        run: |
          python -m venv .venv
          source .venv/bin/activate
          echo $VIRTUAL_ENV
          echo "******************** Created Python Virtual Environment ********************"

      - name: Install dependencies
        run: |
          source .venv/bin/activate
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          echo "******************** Successfully installed dependencies ********************"
          echo $VIRTUAL_ENV/bin >> $GITHUB_PATH
          echo VIRTUAL_ENV=$VIRTUAL_ENV >> $GITHUB_ENV

      - name: Run tests
        run: |
          source .venv/bin/activate
          pytest --cov=src/models/boston_house_price_prediction src/tests/boston_housing_price_prediction/test_*.py
